body{
 font: bold 15px Arial, serif;
 font-weight: bold;
}

.nav{
background: purple;
}

.nav ul{
 color: white;
}

.nav li{
 font-size: 36px;
 padding-top: 24px;
 padding-left:1rem;
 display: inline-block;
 
}
