body{
 font: bold 50px Arial, serif;
 font-weight: bold;
}

.Container{
background: purple;
}

nav ul{
 color: white;
}

nav li{
 font-size: 36px;
 padding-top: 24px;
 padding-left:1rem;
 display: inline-block;
 
}
